{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="login_box_area section_gap" style="padding-top: 150px;">
    <div class="container">
        {% include 'includes/alerts.html' %}
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                        width="150">
                    <div class="mt-3">
                        <h4>{{user.first_name}} {{user.last_name}}</h4>
                        <p class="text-secondary mb-1">Email: {{user.email}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 30px;">
            <aside class="col-md-3" style="font-size: 18px;">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="genric-btn success-border e-large active" href="#"> My order history </a>
                    <a class="genric-btn success-border e-large" href="#"> Transactions </a>
                    <a class="genric-btn success-border e-large" href="#"> Return and refunds </a>
                    <a class="genric-btn success-border e-large" href="#">Settings </a>
                    <a class="genric-btn success-border e-large" href="#"> My Selling Items </a>
                    <a class="genric-btn success-border e-large" href="#"> Received orders </a>
                </ul>
                <br>
                <a class="genric-btn danger" href="{% url 'logout' %}" style="width: 257px;">
                    <i class="fa fa-power-off"></i>
                    <span class="text">Log out</span>
                </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
                        <span>Order Date: 16 December 2018</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="text-muted">Delivery to</h6>
                                <p>Michael Jackson <br>
                                    Phone +1234567890 Email: myname@pixsellz.com <br>
                                    Location: Home number, Building name, Street 123, Tashkent, UZB <br>
                                    P.O. Box: 100123
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-muted">Payment</h6>
                                <span class="text-success">
                                    <i class="fa fa-cc-visa"></i>
                                    Visa **** 4216
                                </span>
                                <p>Subtotal: $356 <br>
                                    Shipping fee: $56 <br>
                                    <span class="b">Total: $456 </span>
                                </p>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <img src="{% static 'img/r4.jpg' %}" class="img-xs border">
                                </td>
                                <td>
                                    <p class="title mb-0">The name of the product goes here </p>
                                    <var class="price text-muted">USD 145</var>
                                </td>
                                <td> Seller <br> Wallmart </td>
                                <td style="width:255px"> 
                                    <a href="#" class="genric-btn primary radius">Track order</a>
                                    <a href="#" class="genric-btn success radius"> Details </a>
                                </td>
                            </tr>
                        </table>
                    </div> <!-- table-responsive .end// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
{% endblock %}