{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Banner Area 
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Login</a>
                </nav>
            </div>
        </div>
    </div>
</section>-->
<!--================Login Box Area =================-->
{% if request.GET.command == 'verification' %}
    
    <section class="login_box_area section_gap" style="padding-top: 110px;">
        <div class="container">
            <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;margin-bottom: 100px;">
                Thank you for registering with us. We have sent you a verification email to your email address [{{ request.GET.email }}]
                <br><br>
                Already verified? <a href="{% url 'login' %}">Login</a>
            </div>
            </div>
        </div>
    </section>

{% else %}
<section class="login_box_area section_gap" style="padding-top: 110px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                        <a class="primary-btn" href="{% url 'register' %}">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner" style="padding-top: 150px;">
                    <h3>Log in to enter</h3>
                    {% include 'includes/alerts.html' %}
                    <form class="row login_form" action="{% url 'login' %}" method="POST" id="contactForm">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email Address">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <a href="{% url 'forgotPassword' %}">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
{% endif %}
{% endblock %}