<footer class="section-footer border-top" text-align="center">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-2 text-md-center">
                <p class="text-muted"> &copy 2021  </p>
            </div>
            <div class="col-md-8 text-md-center">Raja Mishra | <a href="https://github.com/raja53a">Github</div>
            <div class="footer-social">
                <a href="https://www.instagram.com/_code_exe/" target="_blank" rel="author">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/rajamishra53/" target="_blank" rel="author">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/raja53a" target="_blank" rel="author">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </section>
    </div><!-- //container -->
</footer>